<div class="context-menu">
  <ion-list lines="full" class="menu-list">

    <!-- <ion-item button detail="false" (click)="dismiss('select')">
      <ion-label>Select</ion-label>
      <img src="./assets/circle-check.png" class="action-icon">
    </ion-item> -->

    <!-- <ion-item button detail="false" (click)="dismiss('lock')">
      <ion-label>Lock</ion-label>
      <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
    </ion-item> -->

    <ion-item button detail="false" (click)="dismiss('share')">
      <ion-label>Share</ion-label>
      <img src="./assets/share-icon.png" class="action-icon">
    </ion-item>

    <ion-item button detail="false" (click)="dismiss('delete')">
      <ion-label>Delete</ion-label>
      <img src="./assets/trash.png" class="action-icon">
    </ion-item>
  </ion-list>
</div>
