.modal-box {
    background: #fff;
    border-radius: 32px;
    padding: 10px;
  
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-size: 20px;
        font-weight: 700;
        color: #0B0C19;
        margin-bottom: 15px;
      }
    }

    .modal-body {
        margin-top: 10px;
        background: #F6F6FD;
        background-color: #F6F6FD;
        --background: #F6F6FD;
        --border-radius: 16px;
        border-radius: 16px;
        padding: 20px 15px;
    }
  
    .close-icon {
      font-size: 24px;
      cursor: pointer;
      margin-top: -20px;
    }
  
    .success-icon {
      font-size: 48px;
      color: #28c76f;
      margin: 20px auto;
      display: block;
    }
  
    .modal-title {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 16px;
    }

    .modal-sub-title {
      color: #62626A;
      font-size: 14px;
      font-weight: 400;
    }

    .true-img-circle-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .true-img-circle {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        text-align: center;
    }
  
    .secret-link {
      background-color: #EAEAF0;
      padding: 12px 18px;
      border-radius: 32px;
      text-align: center;
      margin-bottom: 16px;
      font-size: 14px;
      overflow-wrap: break-word;
    }
  
    .expires {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: #0B0C19;
    }
  
    .burn-secret {
      text-align: center;
      margin-top: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      gap: 6px;
      font-weight: 600;
      color: #E10000;
    }

    .burn-img {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
    }
  }
  
 .copy-btn {
    --border-radius: 32px;
    border-radius: 32px;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    --background: #2761FC;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: none!important;
}

.share-btn {
    --border-radius: 32px;
    border-radius: 32px;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    --color: #2761FC;
    border: 1px solid #2761FC;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    --background: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7fb; /* light background */
  border-radius: 12px;

  .left-section {
    display: flex;
    align-items: center;
  }
   
  .logo-box img {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    margin-right: 10px;
  }
  
  .app-title {
    font-size: 14px;
    font-weight: 600;
    color: #0B0C19;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .info-icon {
    color: #2761FC;
    font-size: 24px;
    margin-right: 6px;
  }
  
  .how-it-works {
    text-decoration: none;
    color: #2761FC;
    font-weight: 600;
    font-size: 12px;
  }
}