// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #5d6fa3;
  --ion-color-primary-rgb: 93, 111, 163;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #516290;
  --ion-color-primary-tint: #6d7dac;

  /** secondary **/
  --ion-color-secondary: #7c8ebf;
  --ion-color-secondary-rgb: 124, 142, 191;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6d7da8;
  --ion-color-secondary-tint: #8999c5;

  /** tertiary **/
  --ion-color-tertiary: #8d97b2;
  --ion-color-tertiary-rgb: 141, 151, 178;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #7c859d;
  --ion-color-tertiary-tint: #99a2ba;

  /** success **/
  --ion-color-success: #4da772;
  --ion-color-success-rgb: 77, 167, 114;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #449364;
  --ion-color-success-tint: #5fae80;

  /** warning **/
  --ion-color-warning: #e0ad44;
  --ion-color-warning-rgb: 224, 173, 68;
  --ion-color-warning-contrast: #1f1f1f;
  --ion-color-warning-contrast-rgb: 31, 31, 31;
  --ion-color-warning-shade: #c5983c;
  --ion-color-warning-tint: #e3b558;

  /** danger **/
  --ion-color-danger: #d45f69;
  --ion-color-danger-rgb: 212, 95, 105;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bb545d;
  --ion-color-danger-tint: #d86f78;

  /** medium **/
  --ion-color-medium: #8a8f9f;
  --ion-color-medium-rgb: 138, 143, 159;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #797e8c;
  --ion-color-medium-tint: #969aa9;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #1f1f1f;
  --ion-color-light-contrast-rgb: 31, 31, 31;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
