.confirmation-modal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: #fff;
    gap: 15px;

    ion-input {
        --background: #EAEAF0;

        --padding-bottom: 10px;
        --padding-end: 10px;
        --padding-start: 10px;
        --padding-top: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;

    }

    .input-group {
        position: relative;
        width: 100%;
        ion-icon {
            position: absolute;
            top: 50%;
            right: 20px;
            z-index: 9;
            transform: translateY(-50%);
            font-size: 20px;
            color: #62626A;
        }
    }

    p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Poppins';
        color: #62626A;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins';
        color: #0B0C19;
        text-align: center;
        margin: 0;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        width: 100%;
    }

    .blue-btn {
        display: flex;
        padding: 0;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        color: #2761FC;
        font-weight: 600;
        cursor: pointer;
    }

    .transparent-btn.blue-btn {
        color: #62626A;
    }
}