.header-md {
  /* Removes the toolbar shadow. */
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

ion-content,
ion-header,
ion-footer,
ion-toolbar {
  --ion-background-color: #F6F6FD;
}

ion-note {
  font-size: 10px;
}

.margin-right-top {
  margin-right: 15px;
}

ion-item {
  --padding-start: 0;
  --ion-background-color: #fff;
  border-radius: 12px;
  border-bottom: none;
  margin-bottom: 15px;
  --min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-top: 0;

  .box-item-main {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .ion-text-wrap {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;

      .note-txt {
        color: #0B0C19;
        font-size: 12px;
        font-family: 'Poppins';
      }

      .note-txt-title {
        color: #0B0C19;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: 600;
      }

    }
  }
}

ion-fab-button {
  --background: #4364fa;
  --background-activated: #4364fa;
  --background-hover: #4364fa;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;
}

ion-item p {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  color: #0B0C19;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  span {
    font-size: 12px;
    color: #62626A;
  }
}

ion-item ion-note.md {
  margin-right: 14px;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

button {
  background: none !important;
  background-color: none !important;
  box-shadow: none !important;
}

ion-checkbox {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  --border-width: 1px;
  --border-radius: 4px;
  --checkbox-background-checked: #2152D4;
  --outline: none;
  --box-shadow: none;
  --border-color-checked: #2152D4;
  --checkmark-width: 3px;
}

ion-checkbox .checkbox-checked {
  left: 16px;
  top: 5px;
  position: absolute;
  width: 14px;
  height: 27px;
  border-color: #427feb;
  border-top-width: 0;
  border-left-width: 0;
}

span.uuid {
  color: #a2a2a2;
  font-size: 10px;
}



.button-native {
  border-radius: 250px !important;
}

.ion-color-danger {
  --border-radius: 250px;
  background-color: #fff;
}

.button-native {
  border-radius: 250px !important;
}


ion-button,
ion-modal ion-button {
  --border-radius: 250px;
  border-radius: 250px;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  --background: #4364fa;
  text-transform: none;
}

ion-input {
  --background: #EAEAF0;

  --padding-bottom: 15px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 20px;
  --border-radius: 250px;

}

ion-modal {
  ion-input {
    --background: #EAEAF0;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 20px;
  }
}

.toolbar-bottom {
  --padding-start: 20px;
  --padding-end: 20px;
}

.input-group {
  position: relative;

  ion-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 9;
    transform: translateY(-50%);
    font-size: 20px;
    color: #62626A;
  }
}

.delete-btn {
  background-color: #fff;
  color: #E10000;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  text-transform: unset;
}

.uuid {
  font-size: 10px !important;
}

.long-press-target {
  touch-action: manipulation;
}

ion-searchbar {
  --box-shadow: none; /* Removes the internal shadow */
  box-shadow: none !important; /* Removes any external shadow */
  // padding: 0 0 0 15px;
  margin-top: 8px;
  margin-bottom: -4px;
  // --background: white
}

::ng-deep ion-searchbar .searchbar-input-container input {
  // border: 0.5px solid #d3d3d3 !important;
  // border-radius: 12px;
  // --border-radius: 12px
}


@media (min-width: 500px) {
  ion-searchbar {
    width: calc(100% - 15px);
    --width: calc(100% - 15x)!important;
  }
}


ion-split-pane,
ion-split-pane > .main-content {
  width: 100% !important;
  max-width: 100% !important;
  flex: 1 !important;
}

ion-split-pane {
  --side-width: 0px !important; /* effectively hides menu pane width */
}
ion-split-pane > .main-content {
  --width: 100% !important; /* effectively hides menu pane width */
}